@font-face {
    font-family: "basis";
    src: url(../assets/basis33/basis33.ttf);
}

/* root vars */
:root {
    --bgc: #03243e;
    --textc: #c792ea;
    --empc: white;
    --brdc: var(--empc);
}

::-webkit-scrollbar {
    width: 4px;
    background-color: #000000;
}

::-webkit-scrollbar-thumb {
    color: var(--textc);
    background-color: var(--textc);
}

::selection {
    background: #522c68; /* WebKit/Blink Browsers */
}

::-moz-selection {
    background: #522c68; /* Gecko Browsers */
}

html {
    scroll-behavior: smooth;
    scroll-snap-type: y proximity;
    cursor: url(../assets/cursor.png) 0 0, auto;
}

body {
    font-family: "basis";
    max-width: 100%;
    overflow-x: hidden;
    scrollbar-width: thin;
    scrollbar-color: var(--brdc) var(--empc);

    color: #FEFEFE;
    background-color: #03243e;
}

a { 
    color: #c792ea; 
    text-decoration: none;
    cursor: url(../assets/cursor_clicked.png) 0 0, auto;
}

.nav-bar {
    text-align: center;
}

.divider {
    text-align: center;
} 

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    
    color: var(--textc);
}

.content {
    border: 1px solid var(--textc);
    padding: 20px;
    max-width: 800px;
    width: 90%;

    font-family: "basis";
    font-size: 1.3em;
    color: var(--textc);
}

.content p {
    margin: 10px 0;
}

.link {
    cursor: url(../assets/cursor_clicked.png) 0 0, auto;
    color: rgb(198, 137, 226);
    text-decoration: underline 0.05em rgb(198, 137, 226);
    text-underline-offset: 0.15em;
    transition: text-decoration-color 200ms, text-underline-offset 200ms;
}

.link:hover {
    text-decoration-color: rgb(198, 137, 226);
    text-underline-offset: 0.1em;
}
